/*footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: $colorNavFooter;
    padding: 2rem;
    grid-area: footer;
    margin-top: 4rem;
    .icon {
        margin: 0.80rem;
        text-decoration: none;
    }
    P {
        text-align: center;
        padding-top: 0.80rem;
        color: #121212;
    }
}
/*fin de footer*/