/*media query desktop*/
@media screen and (min-width: 576px) {
    /*sección de productos index*/
    .seccion {
        h1 {
            font-size: $fontSizeDesktop;
        }
    }

    .div-productos {
        @include flex-space-around;
        div {
            width: max-content;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 2rem;
            align-self: center; 
            height: 23.9rem;
            padding-top: 1rem;
            }
        img {
            height: 140px;
            margin-bottom: 0.50rem;
            }
        p {
            width: auto;
            text-align: center;
            }
        }
    /*fin de sección de productos*/
    /*barra de filtros*/
    .filtros {
        padding: 2%;
        flex-direction: row;
        justify-content: space-between;
        p {
           display: none;
        }
        .d-flex {
            margin: 0%;
        }
        .me-2 {
            @extend .d-flex;
        }
    }    
    /*fin de barra de filtros*/
    /*texto animado fade-in*/
    #bodyTiendas {
        h1 {
            font-size: $fontSizeDesktop;
        }
    }

    .fade-in {
        font-size: $fontSizeDesktop !important;
    }
    
    .text__p {
        font-size: 1.4em;
        padding: 2rem;
    }
    /*fin de texto animado*/
    /*body perfil*/
    #bodyPerfil {
        display: grid;
        grid-template-areas:
                        "navHeader navHeader"
                        "usuario carrito"
                        "info info"
                        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat( 4, auto);
        .usuario {
            grid-row-start: 1;
        }
        .carrito {
            grid-row-start: 1;
            padding-top: 4rem;
        }
        .info {
            grid-row-start: 3;
        }
        }
        .info {
            display: grid;
            grid-template-areas:
                            "uno uno"
                            "dos dos"
                            "tres tres"
                            "cuatro cuatro";
            grid-template-columns: 100% 100%;
            grid-template-rows: repeat( 4, auto);
            .info__dos {
                grid-row-start: 2;
            }
        }
        /*fin body perfil*/
}