
@media screen and (min-width: 576px) {
    .seccion {
        h1 {
            font-size: $fontSizeDesktop;
        }
    }


    .div-productos {
        div {
            width: max-content;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 2rem;
            align-self: center; 
            height: 23.9rem;
            padding-top: 1rem;

        }
        @include flex-space-around;
        img {
            height: 140px;
            margin-bottom: 0.50rem;
            }
        p {
            width: auto;
            text-align: center;
        }
        }
    
    #bodyPerfil {
        display: grid;
        grid-template-areas:
                        "navHeader navHeader"
                        "usuario carrito"
                        "info info"
                        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat( 4, auto);
        .usuario {
            grid-row-start: 1;
        }
        .carrito {
            grid-row-start: 1;
            padding-top: 4rem;
        }
        .info {
            grid-row-start: 3;
        }
        }
}