/*SOBRE NOSOTROS*/
#bodyNosotros {
    display: grid;
    grid-template-areas:
                    "navHeader"
                    "texto"
                    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat( 3, auto);
    /*texto animado fade-in*/
    .text {
        grid-area: texto;
        display: grid;
        justify-content: center;
        .text__h1 { 
            background-image: url(../images/background-mobile.jpg);
            background-size: cover;
            text-align: center;
            padding-top: 3rem;
            .fade-in {
                -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                margin-bottom: 0%;
                padding-top: 4rem;
                padding-bottom: 2rem;
                font-size: 2.5em;
                color: $colorFuente;
                font-weight: bold;
                @-webkit-keyframes fade-in {
                    0% {
                      opacity: 0;
                    }
                    100% {
                      opacity: 1;
                    }
                  }
                  @keyframes fade-in {
                    0% {
                      opacity: 0;
                    }
                    100% {
                      opacity: 1;
                    }
                  }
                 
            }
        }
        /*fin de texto animado*/
        /*texto descriptivo*/
        .text__p {
            margin: 3rem 1rem 5rem 1rem;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            color: $colorFuente;
        }
    }
}
/*fin de SOBRE NOSOTROS*/