* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  background-color: #F9EBC8;
  font-family: 'Lato', sans-serif; }

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #d95435;
  border-color: #86311d;
  font-family: 'Lato', sans-serif;
  color: #221b11;
  font-weight: 900;
  transition: all 0.2s ease-in-out; }
  .btn-primary:focus, .btn-primary:active:focus {
    background-color: #d95435;
    border-color: #86311d;
    color: #221b11;
    box-shadow: none; }
  .btn-primary:hover {
    box-shadow: 1px 1px #86311d, 2px 2px #86311d, 3px 3px #86311d;
    transform: translateX(-3px);
    background-color: #d95435;
    border-color: #86311d;
    color: #221b11; }

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus {
  margin-left: 0.50rem;
  background-color: white;
  border: none;
  color: #14100a; }
  .btn-secondary:hover, .btn-secondary:hover:active:focus {
    border: none;
    color: #14100a;
    box-shadow: none; }

#navHeader {
  background-color: #90a82e;
  width: 100%;
  grid-area: navHeader; }
  #navHeader a {
    color: #221b11;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
    #navHeader a:hover {
      color: black; }

.navbar-collapse {
  background-color: #90a82e !important; }

.div__img-ofertas img, .div__img-novedades img {
  width: 100%;
  height: auto;
  margin-top: 4.3rem;
  margin-bottom: 3rem; }

.div__img-novedades img {
  margin-top: 3rem; }

.seccion h1 {
  font-size: 2.5em;
  color: #221b11;
  text-align: center;
  font-weight: bold; }

.seccion img {
  height: 200px;
  transition: all 0.2s ease-in-out;
  align-self: center; }
  .seccion img:hover {
    transform: scale(1.1); }

.seccion .div-productos div {
  background-color: #dcc4a3; }

.seccion .div-productos p {
  font-family: 'Roboto', sans-serif;
  color: #221b11; }

.seccion .div-productos .product__title {
  font-weight: bolder;
  font-size: 1.1em;
  margin-bottom: 2%; }

.filtros {
  background-color: #dcc4a3;
  padding: 4% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3.3rem; }
  .filtros form {
    align-self: center;
    margin-bottom: 2%;
    margin-top: 1rem; }
  .filtros div {
    margin-top: 0.50rem; }
  .filtros p {
    margin: 0%; }

#bodyTiendas {
  grid-template-areas: "navHeader" "buscarTiendas" "footer";
  grid-template-columns: 100%; }
  #bodyTiendas h1 {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    color: #221b11; }
  #bodyTiendas .buscarTiendas {
    grid-area: buscarTiendas;
    display: grid;
    justify-content: center; }
    #bodyTiendas .buscarTiendas #distancia {
      margin: 00.10rem 0.50rem; }
  #bodyTiendas .div__map {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 0.70rem 0.50rem 4rem 0.50rem; }

#bodyNosotros {
  display: grid;
  grid-template-areas: "navHeader" "texto" "footer";
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto); }
  #bodyNosotros .text {
    grid-area: texto;
    display: grid;
    justify-content: center; }
    #bodyNosotros .text .text__h1 {
      background-image: url(../images/background-mobile.jpg);
      background-size: cover;
      text-align: center;
      padding-top: 3rem; }
      #bodyNosotros .text .text__h1 .fade-in {
        -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        margin-bottom: 0%;
        padding-top: 4rem;
        padding-bottom: 2rem;
        font-size: 2.5em;
        color: #221b11;
        font-weight: bold; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    #bodyNosotros .text .text__p {
      margin: 3rem 1rem 5rem 1rem;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #221b11; }

#bodyPerfil {
  display: grid;
  grid-template-areas: "navHeader" "usuario" "carrito" "info" "footer";
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto); }

.usuario {
  grid-area: usuario;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4.3rem; }
  .usuario__div {
    display: flex;
    margin-bottom: 1rem; }
    .usuario__div h1 {
      font-size: 1.2em;
      margin: 0%;
      margin-top: 2.1rem;
      margin-left: 1rem;
      color: #221b11; }
  .usuario .ingresar {
    margin-right: 1rem; }
    .usuario .ingresar p {
      color: #221b11;
      margin-bottom: 0.20rem; }
    .usuario .ingresar .button {
      margin-top: 1rem; }

.carrito {
  grid-area: carrito;
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2.8rem;
  margin-top: 3rem; }
  .carrito__div {
    display: flex;
    margin-bottom: 1rem; }
    .carrito__div h1 {
      font-size: 1.2em;
      margin: 0%;
      margin-top: 2.1rem;
      margin-left: 1rem;
      color: #221b11; }
  .carrito__productos p {
    color: #221b11;
    margin-bottom: 0.50rem;
    padding: 0.20rem;
    background-color: #6e4a1b3a;
    border-radius: 0.188rem;
    word-spacing: 2rem;
    margin-left: 2rem; }
  .carrito__productos .button {
    margin-left: 2rem;
    margin-bottom: 3rem; }

.info {
  display: grid;
  grid-template-areas: "uno" "dos" "tres" "cuatro";
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto); }
  .info .info_uno {
    grid-area: uno; }
  .info .info_dos {
    grid-area: dos; }
  .info .info_tres {
    grid-area: tres; }
  .info .info_cuatro {
    grid-area: cuatro; }
  .info div {
    background-color: #dcc4a3;
    margin: 0.50rem;
    padding: 0.70rem;
    padding-right: 1rem;
    display: flex;
    border-radius: 70px; }
    .info div p {
      align-self: center;
      margin: 0%;
      padding-left: 0.50rem; }
    .info div img {
      height: 55px; }

#footerPerfil {
  margin-top: 4rem; }

footer {
  display: flex;
  justify-content: center;
  background-color: #90a82e;
  padding: 2rem;
  grid-area: footer;
  margin-top: 4rem; }
  footer .icon {
    margin: 0.80rem;
    text-decoration: none; }
  footer P {
    text-align: center;
    padding-top: 0.80rem;
    color: #121212; }

@media screen and (min-width: 576px) {
  .seccion h1 {
    font-size: 4em; }
  .div-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .div-productos div {
      width: max-content;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 2rem;
      align-self: center;
      height: 23.9rem;
      padding-top: 1rem; }
    .div-productos img {
      height: 140px;
      margin-bottom: 0.50rem; }
    .div-productos p {
      width: auto;
      text-align: center; }
  .filtros {
    padding: 2%;
    flex-direction: row;
    justify-content: space-between; }
    .filtros p {
      display: none; }
    .filtros .d-flex, .filtros .me-2 {
      margin: 0%; }
  #bodyTiendas h1 {
    font-size: 4em; }
  .fade-in {
    font-size: 4em !important; }
  .text__p {
    font-size: 1.4em;
    padding: 2rem; }
  #bodyPerfil {
    display: grid;
    grid-template-areas: "navHeader navHeader" "usuario carrito" "info info" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto); }
    #bodyPerfil .usuario {
      grid-row-start: 1; }
    #bodyPerfil .carrito {
      grid-row-start: 1;
      padding-top: 4rem; }
    #bodyPerfil .info {
      grid-row-start: 3; }
  .info {
    display: grid;
    grid-template-areas: "uno uno" "dos dos" "tres tres" "cuatro cuatro";
    grid-template-columns: 100% 100%;
    grid-template-rows: repeat(4, auto); }
    .info .info__dos {
      grid-row-start: 2; } }
